---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey"> My Projects</p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
        <script type="text/javascript">
            atOptions = {
                'key' : '989ba2b0f7ae50fdfc2401cf7d8f82cf',
                'format' : 'iframe',
                'height' : 90,
                'width' : 728,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/989ba2b0f7ae50fdfc2401cf7d8f82cf/invoke.js"></scr' + 'ipt>');
        </script>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>